<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Milfont Universitas</title>
  <meta name="author" content="Christiano Milfont">
  <link rel="stylesheet" href="universitas.css" type="text/css" />
</head>
  <body>

  <div id="main">
    <div id="logo">

      <div id="user_profile">
        <img src="http://pt.gravatar.com/userimage/972433/b60fc161487aed1f8559130a7aa959c5.jpeg" />
        <span>Christiano Martins Milfont de Almeida cmilfont@gmail.com</span>
        <a href="#/profile">Perfil</a> <a href="#dashboard">Dashboard</a>  <a href="#cursos">Meus cursos</a>  <a href="#logout">Logout</a>
      </div>

      <img src="http://lh4.ggpht.com/_Mm7CP-3dJvI/TQ9LvGt0CMI/AAAAAAAACAw/LmMRYtGIQCs/s144/logo_pequena.png" height="86" width="144" />
      <span>Universitas</span>

    </div>
    <div id="menu">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#cursos">Cursos</a></li>
        <li><a href="#/instrutores">Instrutores</a></li>
        <li><a href="#eventos">Eventos</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>
   <div id="content">
    <%- body %>
   </div>

    
    <div id="footer">
      <ul>
        <li>Empresa</li>
        <li>Endereço</li>
      </ul>
    </div>
    
    
  </div>
    
  <script src="/js/jquery-1.5.min.js" type="text/javascript"></script>
  <script src="/js/sammy-latest.min.js" type="text/javascript"></script>
  <script src="/js/sammy.ejs.js" type="text/javascript"></script>
  
  <script src="/js/ext-jquery-adapter.js" type="text/javascript"></script>
  <script src="/js/ext-all.js" type="text/javascript"></script>
  
  <script src="/js/sammy.sencha.js" type="text/javascript"></script>
  <script src="/js/index.js" type="text/javascript"></script>
    
  </body>
</html>