
    <div id="curso">
      <div class="video">
        <p>Screencast <span> Introdução ao curso</span>
          <iframe src="http://player.vimeo.com/video/18784924" width="400" height="300" frameborder="0"></iframe>
        </p>
      </div>
      <div class="descricao">
        <h2>Javascript do Básico ao Avançado</h2>
        <p>
        Descrição do curso com características necessárias para explicar em sucintas palavras.
        </p>
        <p>
        Palavras pequenas são importantes tambem para saber se vai ficar com layout legal. 
        </p>
        <p>
          Paragrafos grandes sao necessarios para verificarmos quantas palavras cabem no descritivo e que nao quebre o layout com uma margem precisa de maximo para que fique bacana.
        </p>
        <p>Aqui então cabe mais um parágrafo e talvez até outro e quem sabe não cabe um terceiro. Ou não.</p>
      </div>
      <a href="#content">Inscreva-se</a>
    </div>
    <div id="ementa">
      
      <div id="sidebar">
        <div id="instrutor">
          <h2>Instrutores</h2>
          <img src="http://pt.gravatar.com/userimage/972433/b60fc161487aed1f8559130a7aa959c5.jpeg" />
          <span>Christiano Milfont</span>
          <span>cmilfont@gmail.com</span>
          <a href="#profile">Perfil</a>
        </div>
  
        <div id="calendario">
          <h2>Turmas</h2>
          <span>23/03/11 a 27/03/11 <a href="#turma">Matricular-se</a></span>
          <span>23/03/11 a 27/03/11 <a href="#turma">Matricular-se</a></span>
        </div>
      </div>


      <ol>
        <h2>Javascript Fundamental</h2>
        <li>Historico e Versões de Especificações</li>
        <li>Variáveis</li>
        <li>Fluxos de repetição e condicionais</li>
        <li>Orientação a Objetos
          <ol>
            <li>Estratégias de construção de objetos</li>
            <li>Estratégias de Herança</li>
          </ol>  
        </li>
      </ol>

    </div>


